.*
!.gitignore
!.project
!.cproject
build/
*.bak
Debug/
Release/
ipch/
*.ncb
Thumbs.db
*.mode1v3
*.DS_Store
*.vspscc
*.user
*.sdf
*.filters
*.opensdf
*.suo
xcuserdata
*.xcuserdatad
*.xcuserstate
~$*.xls*
~$*.doc*
dqwork
